---
layout: default
title: Home

---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
  </head>
  <body>
    <h1>Welcome to our site!</h1>
  </body>
</html>